
/*heder*/
* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

#header {
    position: fixed;
    background-color: black;
    width: 100%;

}

#header #desktop {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}

#header #desktop ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: larger;

}

#header #desktop ul li a {
    text-decoration: none;
    color: #f1c40f;
    font-style: oblique;

}

#header #mobile {
    display: none;
}

@media (max-width: 768px) {
    #header #mobile {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    #header #desktop {
        display: none;
        position: absolute;
        top: 44px;
        width: 100%;
        background-color: #ffffff;
        justify-content: center;
    }

    #header #desktop ul {
        flex-direction: column;
    }
}

/* home section */

#home {
    /* width: 100vw; */
    /* top rigth bottom left */
    /* (top & bottom) (r & l) */
    padding: 0px 50px;
    padding-bottom: 10px;
    padding-top: 10rem;
    height: 87vh;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-image {
    max-width: 450px;
    width: 100%;
}
#home-image img{
    border-radius: 10%;
}

#home-social {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    /* justify-content: space-between;*/
    justify-content: center;
    gap: 20px;
}
.social-media {
    display: flex;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #ececf3;
    margin: 15px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgb(150, 150, 150, 0.8);
    transition: all 0.3s ease-out;
}

.icon:hover {
    width: 200px;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
}

.icon:hover i {
    color: #ffffff;
}

.icon .fa-facebook-f {
    color: #1a6ed8;
}

.facebook:hover {
    background: #1a6ed8;
}

.icon .fa-linkedin-in {
    color: #0077b5;
}

.linkedIn:hover {
    background: #0077b5;
}

.icon .fa-github {
    color: #000000;
}

.gitHub:hover {
    background: #000000;
}

.icon .fa-twitter {
    color: #000000;
}

.twitter:hover {
    background: #1da1f2;
}

.icon .fa-instagram {
    color: #f2003c;
}

.instagram:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

#home-details-text h1 {
    font-size: 50px;
    color: #f1c40f;
    font-family: "Arial Black";

}
#home-details-text h3{
    font-size: 40px;
    color: #7c8888;
}
#home-details-text h5{
    font-size: 30px;
    color: #7c8888;
}
#home-details-text h2{
    font-size: 40px;
    color: #7c8888;
}
#home-details-text{
    float: left;
}

@media (max-width: 768px) {
    #home {
        padding: 10px;
        height: auto;
    }

    #home-social {
        display: none;
    }

    #home-details {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    #home-details-text h1 {
        font-size: 26px;

    }
}
/*About section*/
#About-page{
    padding: 10px 50px;
    height: 87vh;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-page h1{
    margin-top: 1rem;
    font-size: 50px;
    color: #f1c40f;
    font-family: "Arial Black";
}

.about-container{
    display: flex;
    margin-top: 3rem;
}

.about-image{
    margin-right: 3rem;
    margin-left: 2rem;

}

.about-image img{
    border-radius: 20%;
}

.about-details h2{
    text-align: center;
    font-size: 40px;
}
.about-details span{
    color: #f1c40f;
}

.about-details p{
    text-align: justify;
    padding: 3%;
    font-size: 25px;
    color: #505e5e;
}
.trapezoid {
    position:absolute;
    left: 0;
    border-bottom: 700px solid #ffb400;
    border-right: 150px solid transparent;
    width: 400px;
    transition: 0.5s;
    z-index: -10;
}


.trapezoid-hide {
    left: -400px;
    transition: 0.5s;
}
@media (max-width: 768px) {
    #About-page{
        padding: 10px;
        height: auto;
    }
    .about-page h1{
        color: #ffb400;
        font-size: 40px;
        text-align: center;
    }
    .about-image{
        align-items: center;
    }
    .about-container{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .about-details p{
        font-size: 20px;
    }
}

/*my profile section*/
#My-profile #header-myprofile{
    background-color: #ecf0f1;
    width: 100%;
    padding-top: 20px;
    position: sticky;
}
#header-myprofile h1{
    color: #ffb400;
    /*text-align: center;*/
    font-size: 30px;
    padding-bottom: 10px;

}

/*skill section*/

#My-profile #My-skill{
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
}
#My-skill h1{
    color: #ffb400;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
#My-skill ol{
    color: black;
    font-size: 20px;
    text-align: center;
}

/*Education section*/

#my-Education{
    background-color:#ecf0f1;
    display: flex;
    flex-direction: column;
}
#education{
    color: #ffb400;
    font-size: 30px;
    text-align: center;
}
#education span{
    color: #505e5e;
}

#education-caption p{
    color: #505e5e;
    font-size: 20px;
    text-align: center;
}
#education-caption p span{
    color: #ffb400;
}

#education-details{
    display: flex;
    /* justify-content: space-between;*/
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;

}
#education-details div{
    background-color: rgba(124, 136, 136, 0.2);
    width: 200px;
    padding: 20px 15px;
    text-align: center;
    background-position: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#education-details div:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgb(142, 149, 183) 0px 15px 12px;
  /*  background-color: #eac482;*/
    background-color: lightslategray;
    color: white;
}
#education-details #link{
    color: #ffb400;
}
#education-details #link1{
    color: #ffb400;
}
#education-details #link2{
    color: #ffb400;
}

@media(max-width: 768px){
    #education-details{
        display: block;
    }
    #education-details div{
        margin: 10px auto;
    }
}

/*project section*/

#My-project{
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
}
#My-project #project{
    color: #ffb400;
    font-size:30px;
    text-align: center;
}
#My-project #project span{
    color:  #505e5e;
}

#My-project #project-details{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
#project-details div{
    color: #03233f;
    background-color: rgba(124, 136, 136, 0.2);
    width: 300px;
    padding: 20px 15px;
    text-align: center;
    background-position: center;
    font-size: 20px;
    box-shadow: rgba(220, 220, 22, 0.05) 0px 6px 24px 0px, rgba(236, 236, 17, 1) 0px 0px 0px 1px;
}
#project-details div:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgb(142, 149, 183) 0px 15px 12px;
    /*  background-color: #eac482;*/
    background-color: lightslategray;
    color: white;
}

@media (max-width: 768px){
    #project-details{
        display: block;
    }
    #project-details div{
        margin: 10px auto;
    }
}